[submodule "src/dist/SingleFile-Lite"]
	path = src/dist/SingleFile-Lite
	url = https://github.com/gildas-lormeau/SingleFile-Lite.git
[submodule "src/..."]
	path = src/...
	url = https://github.com/zotero/translate.git
[submodule "src/translate"]
	path = src/translate
	url = https://github.com/zotero/translate.git
