
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h4 {
  margin-bottom: 8;
}

button {
  margin-right: 4;
  font-size: small;
}

.MuiButton-root {
  border-radius: 32px;
  background-color: #eaf1fb;
  color: #27569b;
  padding: 0.5rem 1rem;
}

.MuiButton-root:hover {
  background-color: #eaf1fb;
  box-shadow: 2px 2px 4px #dddddd;
}

.MuiLoadingButton-root {
  border-radius: 32px;
  background-color: #eaf1fb;
  color: #27569b;
  padding: 0.5rem 1rem;
}

.MuiLoadingButton-root:hover {
  background-color: #eaf1fb;
  box-shadow: 2px 2px 4px #dddddd;
}

.MuiMenuItem-label {
  font-size: 0.875rem;
}

.MuiTreeItem-label {
  font-size: 0.875rem !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
